image:
  repository: 533267351303.dkr.ecr.us-east-1.amazonaws.com/demo-app
  tag: "300e103ad68a0dbaee0f1ac39c96cd66d31c5516"
  pullPolicy: IfNotPresent

replicaCount: 2

service:
  port: 3000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

ingress:
  enabled: true
  host: demo.example.com

httpRoute:
  enabled: false

autoscaling:
  enabled: false